html,
body {
  margin: 0;
  min-height: 300px;
}

body {
  text-align: center;
}

section {
  overflow: hidden;
  width: 680px;
  height: 320px;
  margin: 0 auto;
  border: 1px solid black;
 
}

ul {
  --selected-item: 0;
  --total-items: 5;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(.76, .49, .21, 1.49);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

section:hover{
  cursor: pointer;
}

ul li {
  width: 100%;
}

ol{
  width: 600px;
  text-align: left;
  margin: 0 auto;
}
ol li{
  list-style-type: lower-alpha;
}